body {
    font-family: "Times New Roman", "Aria", serif;

    background-color: #7b7842;
    color: #7b7842;
}

.allContent {
    display: block;
    background-color: #a59c46;
    width: 80%;
    margin-left: 12%;
}

.section {
    float: left;
    width: 27%;
    height: 50%;
    margin-left: 5%;
}

.aside {
    display: inline-block;
    border: 1px solid rgba(59, 58, 58, 0.46);
    border-radius: 20px;
    border-shadow: -10px 5px 10px gray;
    margin-left: 16%;
    padding-right: 20%;
    padding-left: 1%;
    width: 30%;
    height: 30%;
    background-color: #e0d46b;
}

.aboutMe {
    display: inline-block;
    border: 1px solid rgba(59, 58, 58, 0.46);
    border-radius: 20px;
    border-shadow: -10px 5px 10px gray;
    padding-right: 1%;
    padding-left: 4%;
    margin-bottom: 10px;
    width: 150%;
    background-color: #e0d46b;

}

.myContacts {
    display: inline-block;
    border: 1px solid rgba(59, 58, 58, 0.46);
    border-radius: 20px;
    border-shadow: -10px 5px 10px gray;
    padding-right: 10%;
    padding-left: 4%;
    background-color: #e0d46b;
    width: 141%;
}

.header {
    text-align: center;
}

.footer {
    display: inline-block;
    margin-left: 5%;
    border: 1px solid rgba(59, 58, 58, 0.46);
    border-radius: 20px;
    border-shadow: -10px 5px 10px gray;
    padding-left: 33%;
    padding-right: 42.5%;
    margin-top: 2%;
    margin-bottom: 1%;
    background-color: #e0d46b;
}

.footer p {
    text-align: center;
}

.photo {
    height: 200%;
    margin-bottom: 2%;
}

.logo {
    width: 35px;
    height: 35px;
    filter: drop-shadow(10px 10px 10px #a59c46);
}

.logo:hover {
    position: relative;
    transform: rotate(90deg);
}

.logos li {
    display: inline-flex;
}


#grid {
    display: grid;
    margin-left: 40%;
    margin-right: 40%;
    grid-template-rows:repeat(4, 70px);
    grid-template-columns: repeat(3, minmax(50px, 250px));
    grid-gap: 10px;
}

#grid > div {
    font-size: 13px;
    padding: .5em;
    background: #e0d46b;
    text-align: center;
    margin-top: 10%;
}

@media only screen and (max-width: 1861px) {
    .aside code {
        display: inline-block;
        font-size: 10px;
    }
}

@media only screen and (max-width: 1437px) {
    .section {
        float: none;
        display: inline-block;
        margin-left: 25%;
    }

    .aboutMe {
        display: inline-block;
        width: 190%;
    }

    .myContacts {
        width: 180%;
    }

    .aside {
        margin-left: 25%;
        margin-right: 30%;
        margin-top: 5%;
    }

    .aside code {
        font-size: 8px;
    }

    .photo {
        height: 240%;
    }

    #grid {
        margin-left: 30%;
    }
}

@media only screen and (max-width: 1148px) {
    .aside code {
        font-size: 6px;
    }

    .aside {
        margin-left: 25%;
    }

    .footer {
        margin-left: 2%;
    }
}

@media only screen and (max-width: 871px) {
    .aside code {
        font-size: 5px;
    }

    .section {
        margin-left: 25%;
    }

    #grid {
        margin-left: 25%;
    }
}

@media only screen and (max-width: 715px) {
    .photo {
        height: 150%;
    }

    .aside {
        display: block;
        margin-left: 20%;
        width: 47%;
    }

    .photo {
        height: 170%;
        width: 170%;
    }

    .footer {
        padding-right: 30%;
        padding-left: 30%;
        margin-left: 8%;
    }
}

@media only screen and (max-width: 630px) {
    .section {
        width: 35%;
        margin-left: 19%;
    }

    .photo {
        height: 170%;
        width: 170%;
    }

    .aside pre {
        font-size: 6px;
    }
}

@media only screen and (max-width: 520px) {
    .aside code {
        font-size: 4px;
    }

    .footer {
        margin-left: 2%;
    }
}

@media only screen and (max-width: 430px) {
    .footer {
        padding-left: 20%;
        margin-left: 4%;
    }

    .aside code {
        font-size: 2px;
    }

    #grid {
        margin-left: 20%;
    }
}

#gallery__head{
    text-align: center;
    font-weight: 300;
    color: #e0d46b;
    font-size: 3em;
}

.gallery {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    grid-template-rows: repeat(4, 25vw);
    gap: 20px;
    list-style: none;
    padding: 0;
    text-align: center;
}

.gallery figure {
    position: relative;
    width: 100%;
    display: inline-block;
}

.gallery__photo {
    width: 60%;
    height: 101%;
    object-fit: cover;
    filter: blur(5px); /* Размытие изображения */
    transition: 1s; /* Время перехода */
}

.gallery__photo:hover {
    filter: blur(0); /* Отменяем размытие */
}

.containerForGallery {
    width: 88%;
    margin: 2rem auto;
}

#timeOfLoading{
    color: black;
    margin-left: auto;
    margin-right: auto;
}
.nav{
    list-style-type: none;
    gap:1vw;
    padding: 0;

}
.menuOfPage a{
    text-decoration: none;
    color: #e0d46b;
    text-transform: uppercase;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.menuOfPage{
    display: block;
    margin-left: 40%;
    margin-right: 40%;

}
.menuOfPage a:hover{
    color: black;
}
.navs{
    scroll-margin-top: 160px;
    background-color: white;
}
