<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Gallery</title>
  <meta charset="utf-8">
  <meta name="keywords" content="Карепин, Денис, Дмитриевич, мемы, галерея">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="stylesheet" href="myStyle.css">
  <script src="currentPage.js"></script>
</head>
<body>
{{> menu }}
<header>
  <h1 id="gallery__head">Gallery</h1>
  <div class="containerForGallery">
    <div id="myPictures" class="gallery">
      <figure class="elementOfGallery elementOfGallery1">
        <img class="gallery__photo" src="gallery/1.jpg" alt="photo">
      </figure>
      <figure class="elementOfGallery elementOfGallery2">
        <img class="gallery__photo" src="gallery/2.jpg" alt="photo">
      </figure>
      <figure class="elementOfGallery elementOfGallery3">
        <img class="gallery__photo" src="gallery/3.jpg" alt="photo">
      </figure>
      <figure class="elementOfGallery elementOfGallery4">
        <img class="gallery__photo" src="gallery/4.jpg" alt="photo">
      </figure>
      <figure class="elementOfGallery elementOfGallery5">
        <img class="gallery__photo" src="gallery/5.jpg" alt="photo">
      </figure>
      <figure class="elementOfGallery elementOfGallery6">
        <img class="gallery__photo" src="gallery/6.jpg" alt="photo">
      </figure>
      <figure class="elementOfGallery elementOfGallery7">
        <img class="gallery__photo" src="gallery/7.jpg" alt="photo">
      </figure>
      <figure class="elementOfGallery elementOfGallery8">
        <img class="gallery__photo" src="gallery/8.jpg" alt="photo">
      </figure>
    </div>
  </div>
</header>
{{> footer }}
</body>
</html>