<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Личный кабинет</title>
  <link rel="stylesheet" href="petsListStyles.css">
</head>
<body>
<div class="header">
  <h1>Личный кабинет</h1>
  <button class="header-button" onclick="goToHome()">На главную</button>
</div>
<div class="profile-info">
  <h2>Информация о пользователе</h2>
  <p>Имя: Иван Иванов</p>
  <p>Email: ivanov@example.com</p>
</div>
<script src="petListScript.js"></script>
</body>
</html>
